<h1>Using Spark SQL to analyze Airline Data</h1>
<h2>Demo 2</h2>

<hr>
<h2>Setting up the Notebook</h2>
<ul>
    <li>Setting up import statements</li>
    <li>Setting up the spark session</li>
    <li>Defining Paths to the data</li>
    <li>Reading the airline data</li>
</ul>

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.types import Row
from datetime import datetime

In [16]:
spark = SparkSession.builder\
                    .appName("Analyzing airline data")\
                    .getOrCreate()

In [17]:
airlinesPath = "../datasets/airlines.csv"
flightsPath = "../datasets/flights.csv"
airportsPath = "../datasets/airports.csv"

In [23]:
airlines = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load(airlinesPath)

flights = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load(flightsPath)

airports = spark.read\
                .format('csv')\
                .option('header', 'true')\
                .load(airportsPath)

<hr>
<h2>Working with spark sql</h2>
<ul>
    <li>Creating the tables</li>
    <li>exploring the data</li>
</ul>

In [24]:
airlines.createOrReplaceTempView("airlines")
flights.createOrReplaceTempView("flights")
airports.createOrReplaceTempView("airports")

In [21]:
airlines = spark.sql('SELECT * FROM airlines')
airlines.columns

['Code', 'Description']

In [22]:
airlines.show(5)

+-----+--------------------+
| Code|         Description|
+-----+--------------------+
|19031|Mackey Internatio...|
|19032|Munz Northern Air...|
|19033|Cochise Airlines ...|
|19034|Golden Gate Airli...|
|19035|  Aeromech Inc.: RZZ|
+-----+--------------------+
only showing top 5 rows

In [26]:
flights.columns , airports.columns , airlines.columns

(['date',
  'airlines',
  'flight_number',
  'origin',
  'destination',
  'departure',
  'departure_delay',
  'arrival',
  'arrival_delay',
  'air_time',
  'distance'],
 ['Code', 'Description'],
 ['Code', 'Description'])

In [27]:
flights.show(5)

+----------+--------+-------------+------+-----------+---------+---------------+-------+-------------+--------+--------+
|      date|airlines|flight_number|origin|destination|departure|departure_delay|arrival|arrival_delay|air_time|distance|
+----------+--------+-------------+------+-----------+---------+---------------+-------+-------------+--------+--------+
|2014-04-01|   19805|            1|   JFK|        LAX|     0854|          -6.00|   1217|         2.00|  355.00| 2475.00|
|2014-04-01|   19805|            2|   LAX|        JFK|     0944|          14.00|   1736|       -29.00|  269.00| 2475.00|
|2014-04-01|   19805|            3|   JFK|        LAX|     1224|          -6.00|   1614|        39.00|  371.00| 2475.00|
|2014-04-01|   19805|            4|   LAX|        JFK|     1240|          25.00|   2028|       -27.00|  264.00| 2475.00|
|2014-04-01|   19805|            5|   DFW|        HNL|     1300|          -5.00|   1650|        15.00|  510.00| 3784.00|
+----------+--------+-------------+------+-----------+---------+---------------+-------+-------------+--------+--------+
only showing top 5 rows

In [28]:
flights.count() , airlines.count()

(476881, 1579)

In [29]:
flights_count = spark.sql('SELECT count(*) FROM flights')
airlines_count = spark.sql('SELECT count(*) FROM airlines')

In [35]:
flights_count.collect()[0][0] , airlines_count.collect()[0][0]

(476881, 1579)

In [36]:
# mixxing spark sql and spark dataframe operations
total_distance_df = spark.sql('SELECT distance FROM flights')\
                        .agg({'distance':'sum'})\
                        .withColumnRenamed("sum(distance)", "total_distance")

In [37]:
total_distance_df.show()

+--------------+
|total_distance|
+--------------+
|  3.79052917E8|
+--------------+

In [46]:
all_delays_2012 = spark.sql("""
    SELECT date, airlines, flight_number, departure_delay 
    FROM flights WHERE departure_delay > 0 and year(date) = 2012""")

In [47]:
all_delays_2012.show()

+----+--------+-------------+---------------+
|date|airlines|flight_number|departure_delay|
+----+--------+-------------+---------------+
+----+--------+-------------+---------------+

In [48]:
# HELPFUL HINT - triple quotes allows you to create a multi-line sql statment
all_delays_2014 = spark.sql("""
    SELECT date, airlines, flight_number, departure_delay 
    FROM flights WHERE departure_delay > 0 and year(date) = 2014""")

In [50]:
all_delays_2014.show(5)

+----------+--------+-------------+---------------+
|      date|airlines|flight_number|departure_delay|
+----------+--------+-------------+---------------+
|2014-04-01|   19805|            2|          14.00|
|2014-04-01|   19805|            4|          25.00|
|2014-04-01|   19805|            6|         126.00|
|2014-04-01|   19805|            7|         125.00|
|2014-04-01|   19805|            8|           4.00|
+----------+--------+-------------+---------------+
only showing top 5 rows

In [51]:
all_delays_2014.createOrReplaceTempView("all_delays")

In [53]:
all_delays_2014.orderBy('departure_delay', ascending=0).show(5)

+----------+--------+-------------+---------------+
|      date|airlines|flight_number|departure_delay|
+----------+--------+-------------+---------------+
|2014-04-28|   19393|          388|          99.00|
|2014-04-28|   19393|          768|          99.00|
|2014-04-29|   20409|         1780|          99.00|
|2014-04-29|   19805|         2311|          99.00|
|2014-04-29|   20366|         4187|          99.00|
+----------+--------+-------------+---------------+
only showing top 5 rows

In [54]:
delay_count = spark.sql('SELECT COUNT(departure_delay) FROM all_delays')

In [55]:
delay_count.show()

+----------------------+
|count(departure_delay)|
+----------------------+
|                179015|
+----------------------+

In [56]:
delay_count.collect()[0][0]

179015

In [57]:
delay_percent = delay_count.collect()[0][0] / flights_count.collect()[0][0] * 100
delay_percent

37.53871510922012

In [59]:
delay_per_airline = spark.sql('SELECT airlines, departure_delay FROM flights')\
                        .groupBy('airlines')\
                        .agg({'departure_delay': 'avg'})\
                        .withColumnRenamed('avg(departure_delay)', 'departure_delay')

In [60]:
delay_per_airline.orderBy('departure_delay', ascending=0).show(5)

+--------+------------------+
|airlines|   departure_delay|
+--------+------------------+
|   19393|13.429567657134724|
|   20366|12.296210112379818|
|   19977| 8.818392620527979|
|   20436| 8.716275167785234|
|   20409|  8.31110357194785|
+--------+------------------+
only showing top 5 rows

In [61]:
delay_per_airline.createOrReplaceTempView("delay_per_airline")

In [63]:
delay_per_airline = spark.sql("SELECT * FROM delay_per_airline ORDER BY departure_delay DESC")

In [64]:
delay_per_airline.show(5)

+--------+------------------+
|airlines|   departure_delay|
+--------+------------------+
|   19393|13.429567657134724|
|   20366|12.296210112379818|
|   19977| 8.818392620527979|
|   20436| 8.716275167785234|
|   20409|  8.31110357194785|
+--------+------------------+
only showing top 5 rows

In [65]:
delay_per_airline = spark.sql("""
    SELECT * FROM delay_per_airline
    JOIN airlines on airlines.code = delay_per_airline.airlines
    ORDER BY departure_delay DESC
""")

In [66]:
delay_per_airline.show(5)

+--------+------------------+-----+--------------------+
|airlines|   departure_delay| Code|         Description|
+--------+------------------+-----+--------------------+
|   19393|13.429567657134724|19393|Southwest Airline...|
|   20366|12.296210112379818|20366|ExpressJet Airlin...|
|   19977| 8.818392620527979|19977|United Air Lines ...|
|   20436| 8.716275167785234|20436|Frontier Airlines...|
|   20409|  8.31110357194785|20409| JetBlue Airways: B6|
+--------+------------------+-----+--------------------+
only showing top 5 rows